<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div id="app">
  <cpn></cpn>
  <cpn>
    //目的：获取子组件中的pLanguages,
    //vue2.5之前，用template.vue2.5之后，可以用任何标签.
    //template的目的是拿到cpn模板中:data="pLanguages"中的pLanguages数据。
    //slot-scope="slot":slot就会引用cpn模板中的slot对象。
    <template slot-scope="slot">
      <span v-for="item in slot.data">{{item}}-</span>
    </template>
  </cpn>
  <cpn>
    <template slot-scope="slot">
      <!--<span v-for="item in slot.data">{{item}} * </span>-->
      <span>{{slot.data.join(' * ')}}</span>
    </template>
  </cpn>
</div>
<template id="cpn">
  <div>
    <!--这个data名称可以不叫data,可以随便取名-->
    <slot :data="pLanguages">
      <ul>
        <li v-for="item in pLanguages">{{item}}</li>
      </ul>
    </slot>
  </div>
</template>
<script src="../js/vue.js"></script>
<script>
  const app = new Vue({
    el:'#app',
    data:{
      message:'你好啊'
    },
    components:{
      cpn:{
        template:'#cpn',
        data(){
          return {
            pLanguages:['JavaScript','c++','java','c#','Python','Go','Swift']
          }
        }
      }
    }
  })
</script>
</body>
</html>